{% extends "base.html" %}
{% block title %}Приветствующая страница{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h2>Приветствую тебя, {{ current_user.username }}!</h2>
        <img src="{{ url_for('main.user_image', user_id=current_user.id) }}" alt="User Image" style="width: 250px; height: 250px; border-radius: 25%;">
        <p>Добро пожаловать на страницу вашего профиля. Вы можете обновить свою личную информацию ниже</p>
        <a href="{{ url_for('main.profile') }}" class="btn btn-primary">Обновить профиль</a>
    </div>
</div>
{% endblock %}